<div class="fixed">

<div id="ct-left" class="fixed">
    
 <div id="sub-ct-currmonth">
     <div id="bl-currentmonth"></div>
     <div id="bl-event-list"></div>
 </div>
    
</div>


<div id="ct-right" class="fixed">
    
   <div id="bl-action" class="fixed" > 
     <div id="bl-info-cal" >  calendar</div>
     <div id="bl-ct" style="z-index:1500;">  
      <div id="bl-combos" class="bl-combos">
          
       <div id="bl-combos-btn" class="bl-combos-btn">
         <button id="btn-combos-leftyear" class="btn-combos-left combo-year"> <svg class='' height=20 width=20 viewBox='0 0 24 24'><path d='M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z'/></svg> </button>
          <input type="text" placeholder="Entrer une annee" id="selected-year" class="combos-input" >
        <button id="btn-combos-rightyear" class="btn-combos-right"> <svg class='' height=20 width=20 viewBox='0 0 24 24'><path d='M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z'/></svg></button>
       </div>
       
       <div class="bl-combos-list" id="combos-list-year"> </div> 
      </div> 
   </div>
  </div> 
 <div id="calendar" class="fixed"></div>
</div>
</div>
