<!DOCTYPE html>
<html>
<head>
    <meta charset="UT-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" >

    <link rel="stylesheet" href="maincss.css">
</head>
    
    <body>
      
    <div class="container">
     {{{body}}}
    </div>
    <script src="/js/jquery-3.2.0.js"></script>
	<script src="bibliojs.js"></script>
    <script src="Mycalendar.js"></script>
    <script src="calunch.js"></script>
    
    

    </body>
</html>
